@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
/* @import url("https://fonts.googleapis.com/css?family=Inter:var(--body-3-bold-font-weight),600,700,300,var(--h2-font-weight),500,400,var(--body-1-light-font-weight)"); */
@import url("https://fonts.googleapis.com/css?family=Inter:var(--t-font-weight),var(--h2-regular-font-weight),var(--body-3-bold-font-weight),600,300,var(--h2-font-weight),500,400,var(--button-1-font-weight),var(--body-1-light-font-weight),var(--h3-font-weight)");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
